<h1>{{title}}</h1>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admin Dashboard</h5>
                <p class="card-text">Welcome to the MTG Admin Dashboard.</p>
            </div>
        </div>
    </div>
</div>
